{% load static %}

<section class="page-header">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="page-header-content">
                    <h1>Mutaxasislar</h1>
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item">
                            <a href="#">Asosiy</a>
                        </li>
                        <li class="list-inline-item">/</li>
                        <li class="list-inline-item">
                            Mutaxasislar
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
{% block teachers %}{% include 'components/teachers.html' %}{% endblock %}