<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description"
          content="edutim,coaching, distant learning, education html, health coaching, kids education, language school, learning online html, live training, online courses, online training, remote training, school html theme, training, university html, virtual training  ">

    <meta name="author" content="themeturn.com">

    <title>Asosiy - TD-PARK</title>

    <!-- Mobile Specific Meta-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- bootstrap.min css -->
    <link rel="stylesheet" href="{% static 'assets/vendors/bootstrap/bootstrap.css' %}">
    <!-- Iconfont Css -->
    <link rel="stylesheet" href="{% static 'assets/vendors/fontawesome/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/bicon/css/bicon.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/themify/themify-icons.css' %}">
    <!-- animate.css -->
    <link rel="stylesheet" href="{% static 'assets/vendors/animate-css/animate.css' %}">
    <!-- WooCOmmerce CSS -->
    <link rel="stylesheet" href="{% static 'assets/vendors/woocommerce/woocommerce-layouts.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/woocommerce/woocommerce-small-screen.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/woocommerce/woocommerce.css' %}">
    <!-- Owl Carousel  CSS -->
    <link rel="stylesheet" href="{% static 'assets/vendors/owl/assets/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/owl/assets/owl.theme.default.min.css' %}">

    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">

</head>
<body id="top-header">


{% block header %}{% include 'components/header.html' %}{% endblock %}
{% block index %}{% include 'blog_details/blog_detail.html' %}{% endblock %}
{% block footer %}{% include 'components/footer.html' %}{% endblock %}


<div class="fixed-btm-top">
    <a href="#top-header" class="js-scroll-trigger scroll-to-top"><i class="fa fa-angle-up"></i></a>
</div>

<!-- Main jQuery -->
<script src="{% static 'assets/vendors/jquery/jquery.js' %}"></script>
<!-- Bootstrap 4.5 -->
<script src="{% static 'assets/vendors/bootstrap/bootstrap.js' %}"></script>
<!-- Counterup -->
<script src="{% static 'assets/vendors/counterup/waypoint.js' %}"></script>
<script src="{% static 'assets/vendors/counterup/jquery.counterup.min.js' %}"></script>
<script src="{% static 'assets/vendors/jquery.isotope.js' %}"></script>
{#<script src="{% static 'assets/vendors/imagesloaded.js' %}"></script>#}
<!--  Owlk Carousel-->
<script src="{% static 'assets/vendors/owl/owl.carousel.min.js' %}"></script>
<script src="{% static 'assets/js/script.js' %}"></script>
</body>
</html>