<section class="page-header">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="page-header-content">
                    <h1>Biz bilan bog'lanish</h1>
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item">
                            <a href="#">Asosiy</a>
                        </li>
                        <li class="list-inline-item">/</li>
                        <li class="list-inline-item">
                            Biz bilan bog'lanish
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="contact-info section-padding">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-6">
                <div class="section-heading center-heading">
                    <span class="subheading">BIZ BILAN BOG'LANISH</span>
                    <h3>Savolingiz bormi?</h3>
                    <p>Agar savollaringiz bo'lsa pastdagi bo'limlarni to'ldiring va yuborish tugmasini bosing.</p>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-4">
                <div class="row">
                    <div class="col-lg-12 col-md-6">
                        <div class="contact-item">
                            <p>Elektron pochta</p>
                            <h4>tdpark@support.com</h4>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-6">
                        <div class="contact-item">
                            <p>Qo'ng'iroq qiling</p>
                            <h4>+998 94 160 00 21 </h4>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-6">
                        <div class="contact-item">
                            <p>Manzil</p>
                            <h4>Toshkent, Uzbekistan</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <form class="contact__form form-row " method="post" action="{% url 'contact' %}"
                      id="ContactForm">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                {{ form.name }}
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group">
                                {{ form.phone }}
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                {{ form.subject }}
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="form-group">
                                {{ form.message }}
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="mt-4 text-right">

                            <button class="btn btn-main" type="submit" value="submit">Xabarni
                                yuborish<i class="fa fa-angle-right ml-2"></i></button>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>